<!DOCTYPE html>
<html lang="en">
<title>DA Graph</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

<body>



<br/>
<!-- Navbar -->
    <!--
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Logo</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Values</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">News</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Clients</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Partners</a>
  </div>
</div>
-->
<!-- Sidebar -->
    <!--
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Link</a>
</nav>
-->
<!-- Overlay effect when opening sidebar on small screens
-->
    <!--
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
-->
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
<h1>DA Graph</h1>
        <div class="w3-third w3-container">
            <form id="form1" method="post" action="/q1">
                <p> Select Vertical</p>
            <select name="vertical" id="ver">

                {% for i in data %}

                <option value='{{i.name}}'>{{i.name}}</option>

                {% endfor %}
            </select>
            <p>Select Month</p>
                <select name="month">

                    <option value='Oct'>Oct</option>

                </select>
            <div class="w3-btn">
            <input type="submit" value="Submit"/>
            </div>
            </form>
        </div>
		
<div class="w3-third w3-container">
    <form method="post" action="/q9">
     <p> Select Account  </p> 
    <select name="account">
        {% for i in data2 %}

        <option value='{{i.name}}'>{{i.name}}</option>

        {% endfor %}
    </select>

<p>Select Month</p>

   <select name="month">

        <option value='Oct'>Oct</option>

    </select>
	<div class="w3-btn">
<input type="submit" value="Submit"/>
 </div>
</form>
</div>

    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
          <h1 class="w3-text-teal">Summary</h1>
          <p>
            <strong>Total number of observations and opportunities:{{c_5}}</strong><br/><br/>
<strong>Frequent Observation Type:{% for i in freq %}{{i.na}}{% endfor %}</strong><br/><br/>
<strong>Approved Opportunities:{% for i in appr %}{{i.opn}}{% endfor %}</strong><br/><br/>
<strong>Rejected Opportunities:{% for i in appr2 %}{{i.opn2}}{% endfor %}</strong><br/><br/>
<strong>Frequent risky observation type:{% for i in freqrisk %}{{i.opn2}}{% endfor %}</strong><br/><br/>
<strong>Risky observations:{% for i in risky %}{{i.na}}{% endfor %}</strong><br/><br/>
<strong>Open risky observations:{% for i in openrisky %}{{i.na}}{% endfor %}</strong><br/><br/>
<strong>Open observations:{% for i in openob %}{{i.na}}{% endfor %}</strong><br/><br/>
<strong>Closed observations:{% for i in closedob %}{{i.na}}{% endfor %}</strong><br/><br/>
        </div>

<table border="1">
<tr><th>Vertical</th><th>Account</th><th>Opportunity ID</th><th>DA Approval</th><th>Opportunity Name</th><th>Deliverable Type</th><th>Billing Type</th><th>Observation</th><th>Observation Type</th><th>Risky</th><th>Status</th></tr>
{% for i in r3 %}
<tr>
<td>{{i.v}}</td>
<td>{{i.a}}</td>
<td>{{i.oi}}</td>
<td>{{i.da}}</td>
<td>{{i.on}}</td>
<td>{{i.d}}</td>
<td>{{i.b}}</td>
<td>{{i.o}}</td>
<td>{{i.ot}}</td>
<td>{{i.r}}</td>
<td>{{i.s}}</td>
</tr>
{% endfor %}
</table>
        <!--<div class="w3-third w3-container">
          <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
          <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
        </div>
        -->
     </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">How many risky observations in approved opportunities are open?</h1>
	  <div class="w3-btn"><a href="/q2"><button>Click here</button></a></div>
      <p>
        <br/><br/>
<strong>Total: {{count}}</strong>
<br/><br/>
<table border="1">
<tr><th>Vertical</th><th>Account</th><th>Opportunity ID</th><th>DA Approval</th><th>Opportunity Name</th><th>Deliverable Type</th><th>Billing Type</th><th>Observation</th><th>Observation Type</th><th>Risky</th><th>Status</th></tr>
{% for i in r %}
<tr>
<td>{{i.v}}</td>
<td>{{i.a}}</td>
<td>{{i.oi}}</td>
<td>{{i.da}}</td>
<td>{{i.on}}</td>
<td>{{i.d}}</td>
<td>{{i.b}}</td>
<td>{{i.o}}</td>
<td>{{i.ot}}</td>
<td>{{i.r}}</td>
<td>{{i.s}}</td>
</tr>
{% endfor %}
</table>
    </div>
    <!-- <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
    </div>
    -->
  </div>
  <br/>
    <br/>  
  
<div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">
	  <h1 class="w3-text-teal">How many risky observations in approved opportunities are open?</h1>
	  <div class="w3-btn"><a href="/q3"><button>Click here</button></a></div>

<br/>

<br/><br/><br/>
<strong>Total: {{c}}</strong>
<br/><br/>
<table border="1">
<tr><th>Vertical</th><th>Account</th><th>Opportunity ID</th><th>DA Approval</th><th>Opportunity Name</th><th>Deliverable Type</th><th>Billing Type</th><th>Observation</th><th>Observation Type</th><th>Risky</th><th>Status</th></tr>
{% for i in r2 %}
<tr>
<td>{{i.v}}</td>
<td>{{i.a}}</td>
<td>{{i.oi}}</td>
<td>{{i.da}}</td>
<td>{{i.on}}</td>
<td>{{i.d}}</td>
<td>{{i.b}}</td>
<td>{{i.o}}</td>
<td>{{i.ot}}</td>
<td>{{i.r}}</td>
<td>{{i.s}}</td>
</tr>
{% endfor %}
</table>
</div>
 </div>

  <br/>
    <br/>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>DA Graph</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>


<div id="graph">
</div>

</body>
<script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    const width = 800, height = 800;

    const force = d3.layout.force()
            .charge(-200).linkDistance(30).size([width, height]);

    const svg = d3.select("#graph").append("svg")
            .attr("width", "100%").attr("height", "100%")
            .attr("pointer-events", "all");

    d3.json("/graph", function(error, graph) {
        if (error) return;

        force.nodes(graph.nodes).links(graph.links).start();

        const link = svg.selectAll(".link")
                .data(graph.links).enter()
                .append("line").attr("class", "link");

        const node = svg.selectAll(".node")
                .data(graph.nodes).enter()
                .append("circle")
                .attr("class", function (d) { return "node "+d.label })
                .attr("r", 10)
                .call(force.drag);

        // html title attribute
        node.append("title")
                .text(function (d) { return d.title; })

        // force feed algo ticks
        force.on("tick", function() {
            link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

            node.attr("cx", function(d) { return d.x; })
                    .attr("cy", function(d) { return d.y; });
        });
    });
</script>
<script type="text/javascript">
var main=document.getElementById('ver');


</script>
</html>
